<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="">
    <title>Star Wars</title>

    <style>
        h1{
            font-size: 500%;
        }
    </style>
    <style>
        {% block style %}

        {% endblock %}
    </style>
    {% block head %}{% endblock %}
</head>

<body class="">

<div class="">
    <div class="">
        <div class="">
            <h1 class="">Star Wars</h1>
        </div>
    </div>
    <div class="">
        <div class="">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>


</body>
</html>
