<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="">
    <title>Star Wars</title>

    <style>
        h1{
            display: none;
        }
        img {
            width: 250px;
            background-color: black ;
        }
        body {
            background-color: black;
            color: white;
        }
        .header {
            display: flex;
            justify-content: center;
        }
    </style>
    <style>
        {% block style %}

        {% endblock %}
    </style>
    {% block head %}{% endblock %}
</head>

<body class="">

<div class="">
    <div class="">
        <div class="header">
            <h1 class="">Star Wars</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png"/>
        </div>
    </div>
    <div class="">
        <div class="">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>


</body>
</html>
