{% extends "base_layout.html" %}

{% block style %}


{% endblock %}

{% block content %}

<div class="">
  <div class="switch">

      <table style="width:100%;">
          <tr class="table-header">
            <th>name</th>
            <th>model</th>
            <th>cost_in_credits</th>
            <th>length</th>
            <th>max_atmosphering_speed</th>
            <th>crew</th>
            <th>passengers</th>
            <th>hyperdrive_rating</th>
            <th>MGLT</th>
            <th>starship_class</th>
            <th>score</th>
          </tr>
          {% for star in starships %}
          <tr>
          <th>{{star.name}} </th>
          <th>{{star.model}} </th>
          <th>{{star.cost_in_credits}} </th>
          <th>{{star.length}} </th>
          <th>{{star.max_atmosphering_speed}} </th>
          <th>{{star.crew}} </th>
          <th>{{star.passengers}} </th>
          <th>{{star.hyperdrive_rating}} </th>
          <th>{{star.MGLT}} </th>
          <th>{{star.starship_class}} </th>
          <th>{{star.calc}} </th>
          </tr>
          {% endfor %}
      </ul>

  </div>
</div>


{% endblock %}
